@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .hero-image {
        transform: rotateX(5deg) rotateY(-10deg) rotateZ(2deg);
        @apply rounded-xl shadow-2xl;
}
.hero-reflection{
    transform: scale(1.1) rotateX(5deg) rotateY(-5deg) rotateZ(2deg);
    @apply absolute inset-0 left-20 top-10 rounded-2xl bg-gradient-to-bl from-blue-400 to-purple-600;
}
}

@layer utilities{
    .prespective-1000{
        perspective: 1000px;
    }
}
